@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*1em = 16px*/
/*45-90 char line limits*/
/*font size  x 30 = ideal width*/


* {
	padding: 20;
	margin: 20;
}

a {
	text-decoration: none;
	color: gold;
	border-bottom: 1px solid gold;
}



h3 {
	font-weight: bold;
	text-align: center;
}

body {
	word-wrap: break-word;
	background-color: black;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	color: white; 
}

header {
	margin-right: 20px;
	text-align: center;
}

img {
	padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

nav {
	text-transform: uppercase;
	font-weight: 600px;
	letter-spacing: 2px;
	text-decoration: none;
}

.review {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	margin: 2em auto;


}
.contain {
	width: 60em;

}

.mo {
	color: #800000;
	text-indent: 15px;
}

.jake {
	color: #2C52FF;
	text-indent: 15px;
}

.tim {
	color: #FFB80D;
	text-indent: 15px;
}