body {
	background-color: #000;
	color: red;
	text-align: center;

}

h1 {
	color: #fff;
}

p {
	font-size: 22px;
	color: #fff;
}

li {
	color: #fff;
}

img {
	width: 50%;
	height: 50%;
}

#slogan {
	font-style: italic;
}